@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,600;0,700;1,400;1,600&family=Inter:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: 'Inter', sans-serif;
  --font-serif: 'Playfair Display', Georgia, serif;
  --color-gold-500: #b48a32;
  --color-gold-400: #c59f4d;
  --color-gold-600: #9e7525;
}

body {
  background-color: #050505;
  color: #e5e5e5;
  font-family: var(--font-sans);
}
